@import '../../styles/constants';

@button: @{prefix-class}-button;

.@{button} {
  border: @border-size solid @light-gray;
  font-size: @normal-font-size;
  line-height: @line-height;
  padding: (@normal-height - @border-size * 2 - @line-height)/2 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: @normal-height;
  transition: all @transition-time;
}

.@{button}-large {
  padding: (@large-height - @border-size * 2 - @line-height)/2 16px;
  font-size: @large-font-size;
  min-height: @large-height;
}

.@{button}-small {
  font-size: @small-font-size;
  padding: (@small-height - @border-size * 2 - @line-height)/2 8px;
  min-height: @small-height;
}

.button-generator(@type, @text-color, @bg-color) {
  @bg-color-hover: lighten(@bg-color, @lighter);
  @bg-color-active: darken(@bg-color, @darker);

  .@{button}-@{type} {
    color: @text-color;
    border-color: @bg-color;
    background-color: @bg-color;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      background-color: @bg-color-hover;
      border-color: @bg-color-hover;
    }

    &:active {
      background-color: @bg-color-active;
      border-color: @bg-color-active;
    }
  }
}

.@{button}-default {
  color: @dark;
  background-color: @white;
  border-color: @light-gray;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: lighten(@primary, @lighter);
    border-color: lighten(@primary, @lighter);
  }

  &:active {
    color: darken(@primary, @darker);
    border-color: darken(@primary, @darker);
  }
}

.@{button}-danger {
  color: @danger;
  background-color: @white;
  border-color: @light-gray;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: @white;
    background-color: lighten(@danger, @lighter);
    border-color: lighten(@danger, @lighter);
  }

  &:active {
    background-color: darken(@danger, @darker);
    border-color: darken(@danger, @darker);
  }
}

.button-generator(primary, @white, @primary);
.button-generator(warning, @white, @warning);

.@{button} {
  &[disabled] {
    background-color: @light-gray;
    border-color: @light-gray;
    color: @white;
    cursor: not-allowed;
  }
}

.@{button}-loading {
  opacity: 0.5;
}
