@import '../../styles/constants';

@button: ~'@{prefix-class}-button';

.@{button} {
  border: @border-size solid @light-gray;
  font-size: @normal-font-size;
  line-height: @line-height;
  padding: (@normal-height - @border-size * 2 - @line-height)/2 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: @normal-height;
  transition: all @transition-time;
}

.@{button}-large {
  padding: (@large-height - @border-size * 2 - @line-height)/2 16px;
  font-size: @large-font-size;
  min-height: @large-height;
}

.@{button}-small {
  font-size: @small-font-size;
  padding: (@small-height - @border-size * 2 - @line-height)/2 8px;
  min-height: @small-height;
}

.button-generator(@type, @text-color, @bg-color) {
  @bg-color-hover: darken(@bg-color, @little);
  @bg-color-active: darken(@bg-color, @more);

  .normal() {
    color: @text-color;
    border-color: @bg-color;
    background-color: @bg-color;
  }

  .@{button}-@{type} {
    .normal();

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      background-color: @bg-color-hover;
      border-color: @bg-color-hover;
    }

    &:active {
      background-color: @bg-color-active;
      border-color: @bg-color-active;
    }

    &.@{button}-loading {
      .normal();

      &:focus {
        border-color: @bg-color-hover;
      }
    }
  }
}

.@{button}-default {
  .normal() {
    color: @dark-gray;
    background-color: @white;
    border-color: @light-gray;
  }

  .normal();

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: @primary;
    border-color: @primary;
  }

  &:active {
    color: darken(@primary, @more);
    border-color: darken(@primary, @more);
  }

  &.@{button}-loading {
    .normal();

    &:focus {
      color: @primary;
      border-color: @primary;
    }
  }
}

.@{button}-danger {
  .normal() {
    color: @danger;
    background-color: @white;
    border-color: @light-gray;
  }
  .normal();

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: @white;
    background-color: lighten(@danger, @little);
    border-color: lighten(@danger, @little);
  }

  &:active {
    background-color: @danger;
    border-color: @danger;
  }

  &.@{button}-loading {
    .normal();

    &:focus {
      border-color: lighten(@danger, @little);
    }
  }
}

.button-generator(primary, @white, @primary);
.button-generator(warning, @white, @warning);

.@{button} {
  &[disabled] {
    background-color: @light-gray;
    border-color: @light-gray;
    color: @white;
    cursor: not-allowed;
  }
}

.@{button}-loading {
  opacity: 0.5;
}
