@prefix-class: cobalt;

@white: #fff;
@lighter-gray: #ccc;
@light-gray: #999;
@dark-gray: #666;
@darker-gray: #333;
@dark: #000;
@dark-mask: rgba(0, 0, 0, 0.2);

@primary: #2e8ae6;
@warning: #e6b82e;
@success: #2ee62e;
@danger: #e62e2e;
@little: 10%;
@more: 20%;

@transition-time: 100ms;

@line-height: 20px;

@small-height: 24px;
@normal-height: 30px;
@large-height: 40px;

@border-size: 1px;

@small-font: 12px;
@normal-font: 14px;
@large-font: 16px;

@box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
