@prefix-class: cobalt;

@dark: #000;
@white: #fff;

@light-gray: #ccc;
@dark-gray: #333;
@primary: #1897f2;
@warning: #f2a918;
@danger: #f21818;
@lighter: 15%;
@darker: 5%;

@transition-time: 100ms;

@line-height: 20px;
@small-height: 24px;
@normal-height: 30px;
@large-height: 40px;

@border-size: 1px;

@small-font-size: 12px;
@normal-font-size: 14px;
@large-font-size: 16px;
